<?xml version="1.0"?>

 <!-- 
     Simple example with parameters. See readme for description
  -->

<launch>
      <arg name="collisions_timestamp_topic_name" default="/isColliding"/>
      <arg name="collision_names_topic_name" default="/collisionData"/>
      <arg name="gazebo_physics_contact_topic_name" default="/gazebo/default/physics/contacts"/>
      <arg name="robot_model_name" default="robot1"/>
      <arg name="actor_model_name" default="actor1"/>

    <node pkg="contact_monitor" type="contactMonitor" name="contact" >
      <param name="collisions_timestamp_topic_name" value="$(arg collisions_timestamp_topic_name)"/>
      <param name="collision_names_topic_name" value="$(arg collision_names_topic_name)"/>
      <param name="gazebo_physics_contact_topic_name" value="$(arg gazebo_physics_contact_topic_name)"/>
      <param name="robot_model_name" value="$(arg robot_model_name)"/>
      <param name="actor_model_name" value="$(arg actor_model_name)"/>
    </node>

</launch>
